/*
######################################
## JS Canvas Game - Quadrant Patrol ##
###################################### */

@font-face {
   font-family: spaceMission;
   src: url('./fonts/SpaceMission-rgyw9.otf');
}

@font-face {
   font-family: superNintendo;
   src: url('./fonts/SnesItalic-1G9Be.ttf');
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   background-color: dimgray;
}

canvas {
   position: absolute;
   display: none;
   height: 98vh;
}

#container {
   display: flex;
   justify-content: center;
   height: 98vh;
}

#intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: calc(500 * 98vh / 800);
   height: 98vh;
   background-image: url('./images/ui_main_frame.png');
   background-size: cover;
}

#game-title,
#game-over h1 {
   font-family: spaceMission;
   font-size: calc(6vh + 2.5vmin);
   letter-spacing: 7px;
   text-align: center;
   color: #c1fbff;
   text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
   margin-bottom: 50px;
}

.menu-button {
   background-image: url('./images/ui_menu_button.png');
   background-size: cover;
   width: 230px;
   height: 62px;
   font-family: spaceMission;
   font-size: 1.5em;
   color: #c1fbff;
   text-shadow: 0 0 8px black, 0 0 8px black, 0 0 8px black, 0 0 8px black;
   margin-bottom: 20px;
   border: none;
   background-color: transparent;
   transition-duration: 75ms;
}

.menu-button:hover {
   transition-duration: 200ms;
   transform: scale(1.03);
}
.menu-button:active {
   transform: scale(0.98);
}

#game-instructions,
#game-credits,
#game-over {
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: calc(500 * 98vh / 800);
   height: 98vh;
   background-image: url('./images/ui_main_frame.png');
   background-size: cover;
}

#game-actions {
   color: #c1fbff;
   font-family: superNintendo;
   font-weight: lighter;
   font-size: calc(2vh + 0.75vmin);
   text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
   line-height: calc(4vh + 2vmin);
   margin-top: calc(4vh + 1vmax);
}

#game-instructions h1,
#game-credits h1 {
   font-family: spaceMission;
   font-size: calc(3vh + 1.5vmin);
   letter-spacing: 7px;
   text-align: center;
   color: #c1fbff;
   text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
}
