/*
######################################
## JS Canvas Game - Quadrant Patrol ##
###################################### */

@font-face {
   font-family: spaceMission;
   src: url('./fonts/SpaceMission-rgyw9.otf');
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   background-color: dimgray;
}

canvas {
   position: absolute;
   display: none;
   height: 98vh;
}

#container {
   display: flex;
   justify-content: center;
   height: 98vh;
}

#intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: calc(500 * 98vh / 800);
   height: 98vh;
   background-image: url('./images/ui_main_frame.png');
   background-size: cover;
}

#game-title {
   font-family: spaceMission;
   font-size: calc(3vw + 3vh + 1.5vmin);
   letter-spacing: 7px;
   text-align: center;
   color: #c1fbff;
   text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
   margin-bottom: 50px;
}

.menu-button {
   background-image: url('./images/ui_menu_button.png');
   background-size: cover;
   width: 180px;
   height: 47px;
   font-family: spaceMission;
   font-size: 1em;
   color: #c1fbff;
   text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
   margin-bottom: 20px;
   border: none;
   background-color: transparent;
}

#game-over {
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: calc(500 * 98vh / 800);
   height: 98vh;
   background-image: url('./images/ui_main_frame.png');
   background-size: cover;
}
